.charsheet .sheet-attributes,
.charsheet .sheet-attacks,
.charsheet .sheet-inventory{
  display: none;
}

.charsheet .sheet-tabstoggle[value="attributes"] ~ div.sheet-attributes,
.charsheet .sheet-tabstoggle[value="attacks"] ~ div.sheet-attacks,
.charsheet .sheet-tabstoggle[value="inventory"] ~ div.sheet-inventory{
  display:block;
}


.charsheet button[type=roll].sheet-skill-button:before{
  content: ' ';
}

.charsheet button[type=roll].sheet-skill-button:hover{
  background-position: 0;
}

.charsheet button[type=roll].sheet-skill-button{
  background-image: url("https://raw.githubusercontent.com/Oboe831/void/main/Designer%20(2).png");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  width: 26px;
  height: 26px;
  border-style: none;
  background-color: transparent;
  margin-left: 5px;
  margin-top: 5px;
}

.charsheet .overview{
  min-width: 720px;
  min-height: 1280px;
  display: flex;
  flex-direction: column;
  background-repeat:repeat-y;
  background-color: black;
  background-image: url("https://i.pinimg.com/564x/2c/e2/78/2ce278f6355d6a0146d7610bddacb342.jpg");
  background-size: 100%;
  grid-template-rows: auto;
  grid-template-columns: auto;
  
}

.charsheet .banner{
  display: flex;
  padding: 10px;
  color: gainsboro;
  grid-row: 1;
  grid-column: span 2;
  border: 1px blueviolet solid;
}
.charsheet .inventory{
  display: flex;
}


.charsheet .attributes{
  grid-row: 2;
  grid-column: 1;
  display: grid;
  border: 1px brown solid;
}
.charsheet .attributes-main{
  display: grid;
  grid-area: auto;
  grid-template-areas:
  "bad ass";
}

.charsheet .attribute{
  border: 1px crimson solid;
  display: grid;
  grid-column: 1;
  grid-row: 2;
}

.charsheet .skills{
  display: flex;
  flex-direction: column;
}

.charsheet .bad{
  grid-area: "bad";
  display: flex;
  flex-direction: column;
  border: 1px yellow solid;
}

.charsheet .ass{
  grid-area: "ass";
  display: flex;
  flex-direction: column;
  border: 1px yellowgreen solid;
}

.charsheet .body{
  grid-column: 2;
  grid-row: 2;
  display: grid;
  grid-area: auto;
  border: 1px green solid;
}

.charsheet .body-top{
  grid-row: 1;
  display: grid;
  border: 1px yellow solid;
}

.charsheet .body-bot{
  grid-row: 2;
  border: 1px pink solid;
}

.charsheet .top-row{
  display: flex;
  border: 1px silver dashed;
}

.charsheet .inventory{
  display: grid;
  grid-column: 2;
  grid-row: 2;
  border: 1px red solid;
  
}

.charsheet .inventory-text{
  grid-column: 1;
  grid-row: 1;
  display: grid;
  max-width: 75%;
}

.charsheet .talent{
  grid-row: 1;
  grid-column: 2;
  display: grid;
  max-width: 75%;
}

.charsheet .background{
  grid-row: 2;
  grid-column: 1;
  display: grid;
  max-width: 75%;
}

.charsheet .description{
  grid-column: 2;
  grid-row: 2;
  display: grid;
  max-width: 75%;
}

.charsheet .attacks{
  display: flex;
  flex-direction: column;
  border: 1px olive dashed;
}

.charsheet .repcontainer[data-groupname=repeating_weapons]>div,
.charsheet .attacks-table-header{
  display: grid;
  grid-template-columns: 5;
  border: 1px wheat solid;
}

.charsheet .header-weapon{
  grid-column: 1;
}

.charsheet .header-range{
  grid-column: 2;
}

.charsheet .header-damage{
  grid-column: 3;
}

.charsheet .header-ammunition{
  grid-column: 4;
}

.charsheet .header-magazine{
  grid-column: 5;
}

.charsheet .attacks-weapon{
  grid-column: 1;
  width: 100px;
}

.charsheet .attacks-range{
  grid-column: 2;
  width: 50px;
}

.charsheet .attacks-damage{
  grid-column: 3;
}

.charsheet .attacks-ammunition{
  grid-column: 4;
}

.charsheet .attacks-magazine{
  grid-column: 5;
}

.charsheet .repcontainer[data-groupname=repeating_armour]>div,
.charsheet .armour-table-header{
  display: grid;
  grid-template-columns: 5;
  border: 1px wheat solid;
}

.charsheet .header-armour{
  grid-column: 1;
}

.charsheet .header-ar{
  grid-column: 2;
}

.charsheet .header-er{
  grid-column: 3;
}

.charsheet .header-bulk{
  grid-column: 4;
}

.charsheet .header-special{
  grid-column: 5;
}

.charsheet .armour-armour{
  grid-column: 1;
  width: 100px;
}

.charsheet .armour-ar{
  grid-column: 2;
  width: 50px;
}

.charsheet .armour-er{
  grid-column: 3;
}

.charsheet .armour-bulk{
  grid-column: 4;
}

.charsheet .armour-special{
  grid-column: 5;
}

label, h3, h2{
  color: peru;
}

.charsheet textarea.textbox {
  resize: none;
  box-sizing: border-box;
  height: 231px;
  max-width: 80%;
}